## Decision tree classification (Binary classification)

Problem Statement:Prediction of whether the games will be played or not? based on weather conditions

In [1]:
import pandas as pd

In [4]:
#Import the data from csv file into data frame
df=pd.read_csv("decision_tree_input.csv")
df.head(5)

    outlook humidity  windy will_play
0     sunny     high  False        no
1     sunny     high   True        no
2  overcast     high  False       yes
3     rainy     high  False       yes
4     rainy   normal  False       yes

In [6]:
#As we know algorithm takes numerical values only,we need to convert our labels into numerical values
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()
df['outlook1']=le.fit_transform(df.outlook)
df['humidity1']=le.fit_transform(df.humidity)
df['windy1']=le.fit_transform(df.windy)
df['will_play1']=le.fit_transform(df.will_play)
df

,outlook,humidity,windy,will_play,outlook1,humidity1,windy1,will_play1
0,sunny,high,False,no,2,0,0,0
1,sunny,high,True,no,2,0,1,0
2,overcast,high,False,yes,0,0,0,1
3,rainy,high,False,yes,1,0,0,1
4,rainy,normal,False,yes,1,1,0,1
5,rainy,normal,True,no,1,1,1,0
6,overcast,normal,True,yes,0,1,1,1
7,sunny,high,False,no,2,0,0,0
8,sunny,normal,False,yes,2,1,0,1
9,rainy,normal,False,yes,1,1,0,1
10,sunny,normal,True,yes,2,1,1,1
11,overcast,high,True,yes,0,0,1,1
12,overcast,normal,False,yes,0,1,0,1
13,rainy,high,False,no,1,0,0,0

,outlook,humidity,windy,will_play,outlook1,humidity1,windy1,will_play1
3,rainy,high,False,yes,1,0,0,1
4,rainy,normal,False,yes,1,1,0,1
5,rainy,normal,True,no,1,1,1,0
6,overcast,normal,True,yes,0,1,1,1
7,sunny,high,False,no,2,0,0,0
8,sunny,normal,False,yes,2,1,0,1
9,rainy,normal,False,yes,1,1,0,1
10,sunny,normal,True,yes,2,1,1,1
11,overcast,high,True,yes,0,0,1,1
12,overcast,normal,False,yes,0,1,0,1
13,rainy,high,False,no,1,0,0,0

In [22]:
df=df.drop(['outlook','humidity','windy','will_play'],axis=1)
df

    outlook1  humidity1  windy1  will_play1
3          1          0       0           1
4          1          1       0           1
5          1          1       1           0
6          0          1       1           1
7          2          0       0           0
8          2          1       0           1
9          1          1       0           1
10         2          1       1           1
11         0          0       1           1
12         0          1       0           1
13         1          0       0           0

# Split data into train and test dataset

In [23]:
#From above we can see that our data is ready to input to model
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split( df[['outlook1','humidity1','windy1']], df.will_play1, test_size=0.33)

In [26]:
X_train

    outlook1  humidity1  windy1
3          1          0       0
9          1          1       0
13         1          0       0
4          1          1       0
7          2          0       0
5          1          1       1
6          0          1       1

y_train

## Creating and training the model

In [28]:
from sklearn import tree

In [31]:
model=tree.DecisionTreeClassifier()

In [32]:
model.fit(X_train,y_train)
#X_train=All attributes without taget variable
#y_train=target variable

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [33]:
#now predict on test dataset
y_pred=model.predict(X_test)

## Measuring accuracy of model using confusion matrix

In [34]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [36]:
con_matrix=confusion_matrix(y_test,y_pred)
con_matrix

array([[0, 0],
       [2, 2]], dtype=int64)

In [38]:
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.5

From above we can see that accuracy is 50%.Accuracy will increase with large volume of data

## Predict the class label for new occuring event

In [41]:
model.predict([[1,1,1]])

array([0])

1=outlook--->rainy
1=humidity--->normal
1= windy--->True

So for above input data prediction is 0
i.e played should not play